@page
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản đã khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tài khoản này đã bị khóa. Nếu có thắc mắc xin vui lòng liên hệ quản lí.</p>
</header>
