@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cập nhật mật khẩu thành công.";
}

<h2>@ViewData["Title"]</h2>
<p>
    Mật khẩu của bạn đã được cập nhật. Hãy click vào <a asp-page="./Login">đây</a> để đăng nhập.
</p>
